/* Login */
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow: hidden;**/
    transform: height .5s ease;
}

.wrapper.active{
    margin-top: 100px;
    height: 700px;
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;

    font-size: 2em;

    display: flex;
    justify-content: center;
    /*align-items: center;*/
}


/*.wrapper .form-box{
    width: 100px;
    padding: 40px;
}*/

.wrapper .form-box.login{
    /*display: none;*/
}

.wrapper .form-box.register{
    position: absolute;
    transform: translateX(400px);
}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus + label,
.input-box input:valid + label {
    top: -5px; /* ย้าย label ขึ้น */
    /*font-size: 12px; /* ลดขนาดตัวอักษรให้เล็กลง */
    color: #333; /* เปลี่ยนสีให้เข้มขึ้น */
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding-left: 5px;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-fogot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-fogot label input{
    accent-color: #162938;
    margin-right: 5px;
}

.remember-fogot a{
    color: #162938;
    text-decoration: none;
}

.remember-fogot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #4c5c41;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.btn:hover{
    background: white;
    border: 1px solid black;
}

.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

